@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #292525;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kedebideri", sans-serif;
}

h1,
p {
    color: white;

}

h1 {
    font-size: 30px;
}

p {
    font-size: 25px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.welcome-container {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.titulo {
    width: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid greenyellow;
    position: relative;
}

header div {
    position: absolute;
    right: 30px;

}

.imagem-lateral img {
    width: 100%;
    max-width: 100%;
    min-height: 400px;
}

.imagem-lateral {
    position: absolute;
    right: 30px;
    top: 100px;
}

.tecnologias {
    width: 100%;
    max-width: 100%;
    min-height: 70vh;
    gap: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos {
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projetos h1 {
    text-align: center;
}


ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 50px;
    align-items: flex-start;
}

.tecnologias>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    margin: 0 auto;
    list-style: none;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.tecnologias li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    color: white;
}


.titulo ul li{
    padding: 2px;
}




ul li img {
    width: 60px;
    height: 60px;
}

.card-projetos {
    margin-top: 50px;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px;
    transition: 300ms ease-in;
}

.card-projetos img {
    width: 100%;
    min-height: 280px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.divImg {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.container-projetos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}


@media screen and (max-width:1260px) {
    .welcome-container {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
    }

    .tecnologias>ul {
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    }

    .projetos {
        margin-top: 100px;
    }

    .imagem-lateral {
        position: absolute;
        top: 0px;
    }

    .circle {
        display: none;
    }

    .imagem-lateral {
        position: relative;
        right: 30px;

    }

}

@media screen and (max-width:480px) {

    .tecnologias {
        margin-top: 150px;
    }

    .imagem-lateral {
        right: -10px;
        object-fit: cover;
        top: 0px;
    }

    .tecnologias li {
        height: 150px;
        align-items: center;
        text-align: center;
    }

}

@media screen and (max-width:375px) {

    .rings {
        display: none;
    }

    .imagem-lateral {
        object-fit: fill;
    }

}

.card-projetos:hover {
    scale: 1.07;
    border: 2px solid greenyellow;
    background-color: #1d19196b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shadow-dance-text {
    font-size: 28px;
    color: #fff;
    text-shadow: 5px 5px 0 greenyellow, 10px 10px 0 #00d4ff;
    animation: shadow-dance 5s infinite;
}

@keyframes shadow-dance {

    0%,
    100% {
        text-shadow: 2px 2px 0 greenyellow, 2px 2px 0 #00d4ff;
        font-weight: 600;
    }

    50% {
        text-shadow: -2px -2px 0 #00d4ff, -2px -2px 0 greenyellow;
        font-weight: 600;
    }
}

header img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

body.modoClaro {
    background-color: white !important;
}

body.modoClaro .circle,
body.modoClaro .rings,
body.modoClaro .frontend-mentor {
    filter: invert(0%) brightness(0%);
}


body.modoClaro .card-projetos:hover {
    border: 1px solid #00d4ff;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body.modoClaro .container h1,
body.modoClaro h2,
body.modoClaro p,
body.modoClaro span {
    color: black !important;
}

body.modoClaro header {
    border-bottom: 2px solid #00d4ff;
    background-color: rgb(0, 0, 0);
}

body.modoClaro li img {
    filter: invert(0%) brightness(5%);
}

body.modoEscuro .sol img {
    content: url("./imagens/forma-de-meia-lua.png");
}

span {
    color: white;
}

.rings {
    position: absolute;
    top: 35px;
    left: 160px;
    rotate: -30deg;
    width: 250px;
}

.circle {
    position: absolute;
    left: 700px;
    top: 10px;
}

.frontend-mentor {
    position: absolute;
    top: 50px;
    left: 40px;
    rotate: 50deg;
}

.card-projetos .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-text span {
    letter-spacing: 1.5;
}

.card-text {
    margin-top: 15px;
}

.titulo ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    scale: 1.1;
    background-color: rgb(49, 243, 0);
    animation: teste 3s infinite;


}

.titulo li img:hover {
    filter: invert(0%) brightness(0%);
}

@keyframes teste {

    0%,
    100% {
        background-color: #00d4ff;
    }

    50% {
        background-color: greenyellow;

    }
}



p::first-letter {
    text-transform: capitalize;
}